button {
    font-family: 'Yusei Magic', sans-serif;
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: rgb(0, 0, 0);;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    background: rgb(235,117,33, 0.7);
    background: linear-gradient(80deg, rgba(235,117,33,0.7) 0%, rgba(235,178,33,0.7) 48%, rgba(235,117,33,0.7) 100%);
    box-shadow: 0 0 25px rgb(0, 0, 0);
}


button:hover {
    color: rgb(0, 0, 0);;
    background: rgb(235,117,33, 0.7);
    background: linear-gradient(80deg, rgba(235,117,33,0.9) 0%, rgba(235,178,33,0.9) 48%, rgba(235,117,33,0.9) 100%);
    box-shadow: 0 0 5px rgb(0, 0, 0),
    0 0 25px rgb(0, 0, 0),
    0 0 50px rgb(30, 31, 32),
    0 0 100px rgb(15, 16, 16);
}

.socials-container {
    background-color: rgba(39, 36, 36, 0.5);
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 20px 40px;
    box-shadow: 0 0 5px rgb(0, 0, 0),
    0 0 25px rgb(0, 0, 0);
}
.social {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid black;
}
.twitter:hover {
    background: linear-gradient(45deg, #66757f, #00acee, #36daff, #dbedff);
}
.facebook:hover {
    background: linear-gradient(45deg, #134ac0, #316ff6, #78a3ff);
}
.google-plus:hover {
    background: linear-gradient(45deg, #872419, #db4a39, #ff7061);
}
.instagram:hover {
    background: #f09433;
    background: -moz-linear-gradient(
            45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%
    );
    background: -webkit-linear-gradient(
            45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%
    );
    background: linear-gradient(
            45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.social svg {
    fill: white;
    height: 20px;
}


