.card {

    width: 250px;
    height: 400px;
    transition: all 0.4s;
    background: rgb(235,117,33, 0.7);
    background: linear-gradient(80deg, rgba(235,117,33,0.7) 0%, rgba(235,178,33,0.7) 48%, rgba(235,117,33,0.7) 100%);
    border-radius: 20px;
    box-shadow: 0 0 5px rgb(0, 0, 0),
    0 0 25px rgb(0, 0, 0);

    font-size: 30px;
    font-weight: 900;
}

.card:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
    background: rgb(235,117,33, 0.7);
    background: linear-gradient(80deg, rgba(235,117,33,0.9) 0%, rgba(235,178,33,0.9) 48%, rgba(235,117,33,0.9) 100%);
}

.first-content:hover {
    display: none;
}

.first-content {
    background: rgb(235,117,33, 0.7);
    background: linear-gradient(80deg, rgba(235,117,33,0.7) 0%, rgba(235,178,33,0.7) 48%, rgba(235,117,33,0.7) 100%);
    border-radius: 20px;
    box-shadow: 0 0 5px rgb(0, 0, 0),
    0 0 25px rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    text-transform: uppercase;
}

.first-content img {
    box-shadow: 0 0 5px rgb(0, 0, 0),
    0 0 5px rgb(0, 0, 0);
    margin-bottom: 30px;
    border-radius: 15px;
    width:200px;
    height: 210px;

}

.card:hover .first-content {
    height: 0px;
    opacity: 0;
}

.second-content {
    gap: 10px;
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
}

.card:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.8rem;
    transform: rotate(0deg);
}


.card-title {
    font-size: 35px;
}

.card-par {
    padding-top: 10px;
    font-size: 25px;
}

.second-content img {
    margin-right: 10px;
    width: 42px;
    height: 42px;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}